@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-start-lowers: 255, 255, 255;
  --maincta: #229caf;
  --rednah: #ff0000;
  --greenok: #0ad60a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: hsl(0 0% 3.9%);
    --background-end-rgb: 0 0% 0%;
    --background-start-lowers: 0, 0, 0;
  }
}
header{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      hsl(var(--background-end-rgb))
    )
    rgb(var(--background-start-lowers));
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-lowers));
    overflow-x: hidden !important;
}
.scrolled{
  backdrop-filter: blur(10px) !important;
  transform: all 0.3s;
  background-color: transparent !important;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1) !important;
}
.scrolledwhite{
  backdrop-filter: blur(10px) !important;
  transform: all 0.3s;
  background-color: transparent !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.9) !important;
}
.cl-avatarBox{
  height: 40px;
  width: 40px;
}
.cl-userButtonAvatarBox{
  height: 25px !important;
  width: 25px !important;
}
 utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.grid-background {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.097) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.097) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust the size of the grid */
  display: flex;
  z-index: -100;
  position: absolute;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(transparent ,#fff, transparent)
}
.grid-background-dark {
  background-image: linear-gradient(to right, rgba(5, 5, 5, 0.95) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(5, 5, 5, 0.95) 1px, transparent 1px);
  background-size: 20px 20px;
  transition: --grid-opacity 0.3s ease;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(transparent, #000);
  height: 30%;
}
.cta{
  background-color: var(--maincta);
}
.xnono{
  height: 25px;
  fill: var(--rednah);
}
.yesyes{
  height: 25px;
  fill: var(--greenok);
}
.developing{
  background-color: #0285c744;
  border: solid 1px #0285c7;
  color: #0284c7;
  font-weight: 600;
  font-size: 0.9rem;
}
.live{
  background-color: #0ad60a44;
  border: solid 1px #139c13;
  color: #1a921a;
  font-size: 0.9rem;
}
.livedot{
  background-color: #139c13;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.developingdot{
  background-color: #0285c7;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.activeheader{
  text-decoration: solid underline;
  color: #fff !important;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.3s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 0.3s ease-out forwards;
}

.slide-out-right {
  animation: slideOutRight 0.3s ease-out forwards;
}
option {
  background-color: var(--background-start-lowers) !important;
}